# Linux
NVIDIA-Linux-x86_64-352.39/
NVIDIA-Linux-x86_64-375.26/
cuda-samples-linux-7.5.18/
deviceQuery
*.run
*.so
# Windows (and both)
cuda_7.5.18_windows/
cuda_8.0.44_windows/
cuda_10.0.130_411.31_win10/
clock.ptx
*.dll
*.exe
*.iso
