# Linux
NVIDIA-Linux-x86_64-352.39/
NVIDIA-Linux-x86_64-375.26/
cuda-samples-linux-7.5.18/
deviceQuery
*.run
*.so
NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64.sh
# Windows (and both)
cuda_7.5.18_windows/
cuda_8.0.44_windows/
cuda_11.1.1_456.81_win10/
clock.ptx
*.dll
*.exe
*.iso
NVIDIA-OptiX-SDK-7.2.0-win64/
